body {
background: #C0C0C0;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}
.canvas {
width:150px;
height:300px;
}
.pixel {
width: 30px;
height: 30px;
float: left;
}
.pixel:nth-child(2)
{
background:#FF5C5C;
}
.pixel:nth-child(3)
{
background:#FF5C5C;
}
.pixel:nth-child(4)
{
background:#FF5C5C;
}
.pixel:nth-child(7)
{
background:#FF5C5C;
}
.pixel:nth-child(8)
{
background:#FF5C5C;
}
.pixel:nth-child(9)
{
background:#FF5C5C;
}
.pixel:nth-child(12)
{
background:#FF5C5C;
}
.pixel:nth-child(17)
{
background:#FF5C5C;
}
.pixel:nth-child(22)
{
background:#FF5C5C;
}
.pixel:nth-child(23)
{
background:#FF5C5C;
}
.pixel:nth-child(24)
{
background:#FF5C5C;
}
.pixel:nth-child(27)
{
background:#FF5C5C;
}
.pixel:nth-child(28)
{
background:#FF5C5C;
}
.pixel:nth-child(29)
{
background:#FF5C5C;
}
.pixel:nth-child(32)
{
background:#FF5C5C;
}
.pixel:nth-child(37)
{
background:#FF5C5C;
}
.pixel:nth-child(42)
{
background:#FF5C5C;
}
.pixel:nth-child(47)
{
background:#FF5C5C;
}
.pixel:nth-child(2)
{
background:#FF5C5C;
}
.pixel:nth-child(3)
{
background:#FF5C5C;
}
.pixel:nth-child(4)
{
background:#FF5C5C;
}
.pixel:nth-child(7)
{
background:#FF5C5C;
}
.pixel:nth-child(8)
{
background:#FF5C5C;
}
.pixel:nth-child(9)
{
background:#FF5C5C;
}
.pixel:nth-child(12)
{
background:#FF5C5C;
}
.pixel:nth-child(14)
{
background:#FF5C5C;
}
.pixel:nth-child(17)
{
background:#FF5C5C;
}
.pixel:nth-child(19)
{
background:#FF5C5C;
}
.pixel:nth-child(22)
{
background:#FF5C5C;
}
.pixel:nth-child(23)
{
background:#FF5C5C;
}
.pixel:nth-child(24)
{
background:#FF5C5C;
}
.pixel:nth-child(27)
{
background:#FF5C5C;
}
.pixel:nth-child(28)
{
background:#FF5C5C;
}
.pixel:nth-child(29)
{
background:#FF5C5C;
}
.pixel:nth-child(32)
{
background:#FF5C5C;
}
.pixel:nth-child(34)
{
background:#FF5C5C;
}
.pixel:nth-child(37)
{
background:#FF5C5C;
}
.pixel:nth-child(39)
{
background:#FF5C5C;
}
.pixel:nth-child(42)
{
background:#FF5C5C;
}
.pixel:nth-child(44)
{
background:#FF5C5C;
}
.pixel:nth-child(47)
{
background:#FF5C5C;
}
.pixel:nth-child(49)
{
background:#FF5C5C;
}
.pixel:nth-child(2)
{
background:#FF5C5C;
}
.pixel:nth-child(3)
{
background:#FF5C5C;
}
.pixel:nth-child(4)
{
background:#FF5C5C;
}
.pixel:nth-child(7)
{
background:#FF5C5C;
}
.pixel:nth-child(8)
{
background:#FF5C5C;
}
.pixel:nth-child(9)
{
background:#FF5C5C;
}
.pixel:nth-child(12)
{
background:#FF5C5C;
}
.pixel:nth-child(14)
{
background:#FF5C5C;
}
.pixel:nth-child(17)
{
background:#FF5C5C;
}
.pixel:nth-child(19)
{
background:#FF5C5C;
}
.pixel:nth-child(22)
{
background:#FF5C5C;
}
.pixel:nth-child(23)
{
background:#FF5C5C;
}
.pixel:nth-child(24)
{
background:#FF5C5C;
}
.pixel:nth-child(27)
{
background:#FF5C5C;
}
.pixel:nth-child(28)
{
background:#FF5C5C;
}
.pixel:nth-child(29)
{
background:#FF5C5C;
}
.pixel:nth-child(32)
{
background:#FF5C5C;
}
.pixel:nth-child(34)
{
background:#FF5C5C;
}
.pixel:nth-child(37)
{
background:#FF5C5C;
}
.pixel:nth-child(39)
{
background:#FF5C5C;
}
.pixel:nth-child(42)
{
background:#FF5C5C;
}
.pixel:nth-child(44)
{
background:#FF5C5C;
}
.pixel:nth-child(47)
{
background:#FF5C5C;
}
.pixel:nth-child(49)
{
background:#FF5C5C;
}
.pixel:nth-child(2)
{
background:#FF5C5C;
}
.pixel:nth-child(3)
{
background:#FF5C5C;
}
.pixel:nth-child(4)
{
background:#FF5C5C;
}
.pixel:nth-child(7)
{
background:#FF5C5C;
}
.pixel:nth-child(8)
{
background:#FF5C5C;
}
.pixel:nth-child(9)
{
background:#FF5C5C;
}
.pixel:nth-child(12)
{
background:#FF5C5C;
}
.pixel:nth-child(14)
{
background:#FF5C5C;
}
.pixel:nth-child(17)
{
background:#FF5C5C;
}
.pixel:nth-child(18)
{
background:#FF5C5C;
}
.pixel:nth-child(19)
{
background:#FF5C5C;
}
.pixel:nth-child(22)
{
background:#FF5C5C;
}
.pixel:nth-child(27)
{
background:#FF5C5C;
}
.pixel:nth-child(28)
{
background:#FF5C5C;
}
.pixel:nth-child(29)
{
background:#FF5C5C;
}
.pixel:nth-child(32)
{
background:#FF5C5C;
}
.pixel:nth-child(33)
{
background:#FF5C5C;
}
.pixel:nth-child(34)
{
background:#FF5C5C;
}
.pixel:nth-child(37)
{
background:#FF5C5C;
}
.pixel:nth-child(39)
{
background:#FF5C5C;
}
.pixel:nth-child(42)
{
background:#FF5C5C;
}
.pixel:nth-child(44)
{
background:#FF5C5C;
}
.pixel:nth-child(47)
{
background:#FF5C5C;
}
.pixel:nth-child(49)
{
background:#FF5C5C;
}
